*{
	margin:0;
	padding:0;
}
body{
	font-size:16px;
	background: #f4f7fa;
}
#nav_top{
	height:70px;
	line-height: 70px;
}
.search{
	width: 420px;
	height: 70px;
}
#nav_top .nav_first a{
	display:inline-block;
	color: #000;
	text-decoration: none;
	font-size: 1rem;
	transition: 0.1s;
}
#nav_top .nav_first a:hover,#nav_top .nav_4 a:hover{
	font-size:1.1rem ;
	color:#ffc107 ;
}
#nav_top .nav_4 a{
	display:inline-block;
	color: #000;
	text-decoration: none;
	font-size: 1rem;
}
#nav_top .logo{
	height:70px;
}
/*pad*/
@media screen and (min-width:768px) and (max-width: 991px){
	#nav_top{
		height:70px;
		line-height: 50px;
	}
	.logo{
		display: none;
	}

}
/*手机*/
@media screen and (max-width:767px){
	#nav_top{
		height:150px;
		line-height: 50px;
	}
	.logo{
		display: none;
	}
	}
/*bander部分*/
#bander{
	height:600px;
}
/*---------------------------渐变轮播图开始-----------------------------*/
#banderTop{
	z-index: 999;
}
#bander{
	position: relative;
}

#bander .banner .banner-cell{
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: 1s;
}
#bander .banner .banner-cell img{
	width: 100%;
	height: 100%;
}
#bander .banner .banner-cell-t{
	background-image:url(../img/banner01.png);
	background-repeat:no-repeat;
	margin-top:5%;
	margin-left: 70%;
	background-size:auto 100%;
	width: 500px;
	height: 400px;
}
/*---------------------------渐变轮播图结束-----------------------------*/
#banderText,#banderText2{
	opacity: 0;
	transition: 1.5s;
}

.t-bt{
	font-size: 4rem;
	padding-top:15%;
	font-family: 华文宋体;
	font-weight: bold;
}
#bander .t_title{
	font-size: 1.2rem;
	font-family: 华文宋体;
	font-weight: bold;
}
#bander .jiaru{
	margin-top: 7%;
}
#bander .jiaru .btn{
	width:20%;
}
/*card部分*/
#card li{
	width: 250px;
	height: 400px;
	border:1px solid #0aa1ed;
	border-radius: 10px;
	transition: 200ms;
	box-shadow:0px 0px 50px -20px #4e555b;
}
#card li:hover{
	border:1px solid #0aa1ed;
	background: url("../img/producet_bg.jpg");
	box-shadow:0px 0px 25px 2px #4e555b;
}
#card h5{
	text-align: center;
	font-family: 微软雅黑;
}
/*4个card翻转动画*/
#card .container{
	/*宽度、高度、左边距、相对定位、光标小手状态、3D的视角*/
	margin: 10% auto;
	width: 126px;
	height: 126px;
	position:relative;
	cursor:pointer;
	perspective:800px;
	-webkit-perspective:800px;
}
#card .before{
	width: 126px;
	height: 126px;
	position:absolute;
	left:0;
	top:0;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	transition:0.8s;
}
#card .after{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	transform:rotateY(-180deg);
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	transition:0.8s;
}
/*上移动过渡需要时间*/
#card .product{
	transition: 0.4s;
}
#card .product:hover{
	margin-top: -10px;
}
#card .product:hover .before{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}
#card .product:hover .after{
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
}
/*设置4张图动画前后背景图*/
.b1{background: url("../img/product_header_icon_01.png") no-repeat center center;}
.a1{background: url("../img/product_header_active_icon_01.png") no-repeat center center;}
.b2{background: url("../img/product_header_icon_02.png") no-repeat center center;}
.a2{background: url("../img/product_header_active_icon_02.png") no-repeat center center;}
.b3{background: url("../img/product_header_icon_03.png") no-repeat center center;}
.a3{background: url("../img/product_header_active_icon_03.png") no-repeat center center;}
.b4{background: url("../img/product_header_icon_04.png") no-repeat center center;}
.a4{background: url("../img/product_header_active_icon_04.png") no-repeat center center;}

/*寄售服务*/
.ItemTop{margin-top: 5%}
.ItemsTit p{ background:url(../img/tit1.png) no-repeat center; color:#333;text-align: center;font-size: 1.3rem}
.ItemsTit span{ color:#999;font-size: 2rem;}
.Items div{background:#FFF; color:#333; text-align:center;width: 240px;height: 220px;border-radius:5px;overflow: hidden}
.Items p{ width:90%; margin:0 auto}
.Items div a hr{width:20%;height:2px;margin:8% auto;transition: 1s}
.Items div a{text-decoration: none;color:#000}
.ItemC1{ background:#1287ff;}
.ItemC2{ background:#ffb053;}
.ItemC3{ background:#47e3ff;}
.ItemC4{ background:#76cd7c;}
.Item:hover hr{width:90%}
.MoverK{box-shadow:0px 0px 100px -20px #4e555b;margin-top: 1%}
.MoverK:hover{transition:0.3s;box-shadow:0px 0px 25px 2px #4e555b;}

/*inMiddle*/
.inMiddle{
	height: 90px;
	line-height: 90px;
	font-size:2.5rem ;
	background:linear-gradient(0deg,#126ccc 0%,#007DB3 100%) ;
	color: #fff;
}
.inMiddle span{
	color:#ffc107 ;
}
.access{
	font-size: 2rem;
	font-family:华文隶书;
	font-weight: bold;
	padding-top: 23px;
	padding-left: 50px;
}



