*{
	margin: 0;
	padding: 0;
  }
  ul,ol {
	list-style: none;
  }
  a{
	text-decoration: none;
	color: #fff;
  }
  body {
	font-size: 16px;
	background: #f4f7fa;
	font-family: Arial, 微软雅黑;
  }
  .lt {
	float: left;
  }
  .rt {
	float: right;
  }
  .clear:before,
  .clear:after {
	content: "";
	display: table;
	clear: both;
  }
  /* 通用样式结束 */
  header{
	width: 100%;
	height: 72px;
	position: fixed;
	z-index: 99999;
  }
#nav_top{
  position: relative;
  justify-content: space-between;
  font-size: 1.6em;
  color:#fff;
  height: 72px;
  line-height: 72px;
  background:#fff;
  box-shadow:0px 0px 25px 2px #4e555b;
  
}
#nav_top .logop{
	margin-left: 5%;
}
#nav_top .logo{
	height:50px;
}
#nav_top ul li{
	float: left;
}
#nav_top .nav_first li{
	padding: 0 1em;
	
}
#nav_top .nav_login li{
	padding: 0 .1em;
	margin-right:1em; 
}
.search{
	width: 310px;
	height: 72px;
}

header #nav_top a:hover,header a:hover{
	color:#ffc107;
	text-decoration: none;
}
#nav_top a{
	display:inline-block;
	color:#000;
	font-size: 1rem;
}

#nav_top .nav-icon{
	position: relative;
	top: 5px;
	display: none;
	cursor: pointer;
	margin: 10px 10px;
}
.nav-icon span{
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 5px;
  background: #000;
  margin: 5px 0;
  
}
div.nav_login_icon{
	box-shadow:0px 0px 25px 2px #4e555b;
}
div.nav_login_icon ul{
	background: rgba(0,0,0,0.2);
	width: 100px;
	height: 145px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
div.nav_login_icon ul li{
	margin-top: 10px;
}
header .nav_login_icon ul{
	transition: all .7s linear;
}
.icon1{
	opacity: 0 ;
}
.icon2{
	opacity: 0 ;
} 
/*bander部分*/
.ttop{
	height: 72px;
}
#banner{
	height:700px;
	width: 100%;
	margin: 0px;
	height: 700px;
	background-size:100% 100% !important; 
}
/*---------------------------渐变轮播图开始-----------------------------*/
.bannerP{
	background: url("../img/banner.jpg") no-repeat;
	
}
.bannerP2{
	background: url("../img/banner2.jpg") no-repeat !important;
}
#banner div.text{
	position: absolute;
	top: 20%;
	left: 50%;
	opacity: 0;
	margin-left: -400px;
	transition: all .5s linear;
	width: 800px;
	z-index: 999;
	text-align: center;
	color: #fff;
}
.show{
	opacity: 1 !important;
}
.hide{
	opacity: 0 !important;
}
#banner div.text h1{
	font-size: 4rem;
}
#banner div.text p.textT{
	margin-top: 10%;
	font-size: 1.5rem;
}
#banner div.text1{
	opacity: 1;
}
#banner div.text p.textB{
	margin-top: 10%;
	font-size: 1.4rem;
}
#banner div.text a{
	margin-top: 10%;
	width: 20%;
}
/*---------------------------渐变轮播图结束-----------------------------*/
/*card部分*/
#card li{
	width: 270px;
	height: 400px;
	border:1px solid #0aa1ed;
	border-radius: 10px;
	transition: 200ms;
	box-shadow:0px 0px 50px -20px #4e555b;
	margin-top:10px;
}
#card li:hover{
	border:1px solid #0aa1ed;
	background: url("../img/producet_bg.jpg");
	box-shadow:0px 0px 25px 2px #4e555b;
	margin-top: -10px;
	transition: 0.4s;
	color:#fff;
}
#card h5{
	text-align: center;
	font-family: 微软雅黑;
}
#card li .li_text{
	width: 200px;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 15px;
	color: #555555cf;
}
/*4个card翻转动画*/
#card .container{
	/*宽度、高度、左边距、相对定位、光标小手状态、3D的视角*/
	margin: 10% auto;
	width: 126px;
	height: 126px;
	position:relative;
	cursor:pointer;
	perspective:800px;
	-webkit-perspective:800px;
}
#card .before{
	width: 126px;
	height: 126px;
	position:absolute;
	left:0;
	top:0;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	transition:0.8s;
}
#card .after{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	transform:rotateY(-180deg);
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	transition:0.8s;
}
/*上移动过渡旋转*/
#card .product:hover .before{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}
#card .product:hover .after{
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
}
/*设置4张图动画前后背景图*/
.b1{background: url("../img/product_header_icon_01.png") no-repeat center center;}
.a1{background: url("../img/product_header_active_icon_01.png") no-repeat center center;}
.b2{background: url("../img/product_header_icon_02.png") no-repeat center center;}
.a2{background: url("../img/product_header_active_icon_02.png") no-repeat center center;}
.b3{background: url("../img/product_header_icon_03.png") no-repeat center center;}
.a3{background: url("../img/product_header_active_icon_03.png") no-repeat center center;}
.b4{background: url("../img/product_header_icon_04.png") no-repeat center center;}
.a4{background: url("../img/product_header_active_icon_04.png") no-repeat center center;}

/*寄售服务*/
.ItemTop{margin-top: 5%}
.ItemsTit p{ background:url(../img/tit1.png) no-repeat center; color:#333;text-align: center;font-size: 1.3rem}
.ItemsTit span{ color:#999;font-size: 2rem;}
.Items div{background:#FFF; color:#333; text-align:center;width: 240px;height: 220px;border-radius:5px;overflow: hidden}
.Items p{ width:90%; margin:0 auto}
.Items div a hr{width:20%;height:2px;margin:8% auto;transition: 1s}
.Items div a{text-decoration: none;color:#000}
.ItemC1{ background:#1287ff;}
.ItemC2{ background:#ffb053;}
.ItemC3{ background:#47e3ff;}
.ItemC4{ background:#76cd7c;}
.Item:hover hr{width:90%}
.MoverK{box-shadow:0px 0px 100px -20px #4e555b;margin-top: 1%}
.MoverK:hover{transition:0.3s;box-shadow:0px 0px 25px 2px #4e555b;}
/* 寄售流程 */
#lct div.bulletin{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	font-size: 14px;
	background: #fff;
	border-bottom: 1px solid #aaa;
}
#lct div.bulletin i{
	display: inline-block;
	width: 60px;
	height:60px;
	background: url(../img/gg.png);
	vertical-align: middle;
}
#lct div.bulletin span{
	display: inline-block;
}
#lct .bulletin span.ggDetails{
	width: 600px;
	height: 16px;
	overflow: hidden;
}
#lct .bulletin a{
	color: blue;
}
#lct div.bulletin a:last-child{
	margin-left: 170px ;
}
#lct .lcIcon{
	width: 1200px;
	height: 120px;
	margin: 100px auto;
	background: #fff;
}
#lct .lcIcon ul li{
	width: 170px;
	height: 110px;
}
#lct .lcIcon ul li.lcI div{
	width:170px;
	height: 65px;
}
#lct .lcIcon ul li.lcI div i{
	margin: 0 auto;
	display: block;
	width:65px;
	height: 65px;
	background: url(../img/stepflow.png)
}
#lct .lcIcon ul li:nth-child(1) div i{background-position: 0px 0px}
#lct .lcIcon ul li:nth-child(3) div i{background-position: 0px 81px}
#lct .lcIcon ul li:nth-child(5) div i{background-position: -70px -70px}
#lct .lcIcon ul li:nth-child(7) div i{background-position: -70px 0px}
#lct div.lcIcon ul li b{
	display: inline-block;
	width: 170px;
	height: 6px;
	background: url(../img/stepflow.png);
	background-position: 40px -140px;
	margin-top: 55px;
}
/* 常见问题 */
.TabBotton{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
.TabBotton h2{
	width: 300px;
	height: 50px;
	font-size: 32px;
	margin: 0px auto;
	margin-top:70px;
	text-align: center;
	border-bottom:1px solid #31aae1; 
	color: #31aae1;
}
.tabs{
	width: 1200px;
	height: 300px;
	box-shadow: 0 0 5px #aaa;	
}
#tabs{
	display: inline-block;
	width: 900px;
	border: 1px solid #aaa;
}
#tabs .title{
	font-weight: normal;
	font-size: 1.3em;
	background: #f4f7fa;
}
#tabs div:nth-child(3),div:nth-child(4){
	color: red ;
}
#tabs .title:hover{
	color: #018ebb;
}
.tabs .tabsIcon{
	width: 298px;
	height: 300px;
	float: right;
	background: #fff;
	border: 1px solid #aaa;
}
.tabs .tabsIcon img{
	width: 250px;
	margin: 24px 24px;
}
/*inMiddle*/
.inMiddle{
	height: 90px;
	line-height: 90px;
	font-size:2rem ;
	background:linear-gradient(0deg,#126ccc 0%,#007DB3 100%) ;
	color: #fff;
}
.inMiddle span{
	color:#ffc107 ;
}

.pay div img{
	width:15vw;
}

/*页脚部分*/

	.my_footer{
		width:100%;
		height:150px;
	}
	div.container-fluid{
		padding: 0;
	}

/* 回收卡部分 */
#rec{
	width: 1200px;
	height: 333px;
	border-radius: 5px;
	margin: 50px auto;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
	border: 1px solid transparent;
}
#rec:hover{
	box-shadow: 0 0 5px rgba(1,142,187,.8);
	border: 1px solid #018ebb;
}
#rec h3{
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-bottom:1px solid #018ebb; 
	color: #31aae1;
}
#rec h3 a{
	font-size: 14px;
	color: #f00;
}
#rec h3 a:hover{
	text-decoration: underline;
}

#rec div{
	padding: 20px;
}
#rec div ul li{
	float: left;
	width: 288px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	cursor: pointer;
}
#rec div ul li:hover{
	border: 1px solid #31aae1;
}
#rec div ul li img{
	width: 150px;
	height: 95px;
}
#rec div ul li span.cardSell{
	color: red;
	margin-left: 20px;
	width: 88px;
	height: 20px;
	display: none;
	overflow: hidden;
	text-decoration: underline;
}
#rec div ul li span.cardName{
	color: #666;
	width: 90px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
	margin-left: 15px;
}
#rec div ul li span.showbtn{
	float: right;
	display: inline-block;
	width: 0px;
	height: 95px;
	padding-left: 0px;
	background: rgba(0,0,0,.5);
	color:white;
	border-radius: 0 3px 3px 0;
	transition: all .2s linear;
}
#rec div ul li:hover span.showbtn{
	width: 25px;
	padding-left: 4px;
}

/* side侧边栏 */
#side{
	position: fixed;
	top:35%;
	right: 50px;
	width: 50px;
	height: 250px;
}
#side  li{
	width: 48px;
	height: 50px;
	overflow: hidden;
	background: url("../img/service_faka.png");
	transition: all .1s linear;
}
#side li:nth-child(1){
	background-position: 0px 0px;
}
#side li:nth-child(1):hover{
	background-position: 48px 0px;
}
#side li:nth-child(2){
	background-position: 0px -50px;
}
#side li:nth-child(2):hover{
	background-position: 48px -50px;
}
#side li:nth-child(3){
	background-position: 0px -100px;
}
#side li:nth-child(3):hover{
	background-position: 48px -100px;
}
#side li:nth-child(4){
	background-position: 0px -150px;
}
#side li:nth-child(4):hover{
	background-position:48px -150px;
}
#side li:nth-child(5){
	background-position: 0px -200px;
}
#side li:nth-child(5):hover{
	background-position: 48px -200px;
}
